extends 'layout/base.jade'

block main_content
	.container
		h1 Explore
		p Explore your friends' natal charts. Examine common factors, group them into categories, filtering, etc.
		
		.row: .col-md-6
			table.table.natal-table
				tbody
					for sign_name in zodiac_names
						tr.sign-marker: th(colspan=3)= sign_name
						for subject, chart in groups[sign_name]
							tr.sign(class=sign_name.lower())
								td.subject-name= subject.name
								td.subject-birthdate= subject.birthdate
								td.angle #{ get_symbol(sign_name) } #{ chart['Sun'].angle_dms }