extends 'layout/base.jade'

block main_content
	.container
		h1 Explore
		p Explore your friends' natal charts. Examine common factors, group them into categories, filtering, etc.
		
		.row: .col-md-6
			table.table.natal-table
				tbody
					for subject, chart in subjects
						tr: td(colspan=2): h3.subject-name= subject.name
						tr
							th Planet
							th Sign
						for body in ('Sun', 'Moon', 'Mercury', 'Venus', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto')
							- var sign = chart[body].sign
							tr.position
								td 
									span.symbol #{ get_symbol(body) } 
									| #{ body }
								td 
									span.sign 
										span.symbol #{ get_symbol(sign.name) } 
										| #{ sign.name } 
									span.angle #{ chart[body].angle_dms }